{#
/**
 * @file
 * Default custom block implementation
 *
 * Available variables:
 * - current_time: The current time implemented by the services HelloServices.
 * - country: The country text.
 * - city: The city text.
 *
 */
#}
<h2>{{ title }}</h2>
<p>{{current_time}}</p>
<p>{{country}}</p>
<p>{{city}}</p>
